<STYLE type="text/css">
  body {margin-top: 0px;margin-left: 0px;}
  #page_1 {position:relative; overflow: hidden;margin: 100px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_2 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_3 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_4 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_5 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_6 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_7 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_8 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_9 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_10 {position:relative; overflow: hidden;margin: 10px 0px 0px 0px;padding: 0px;border: none;width: 609px;}
  #page_11 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_12 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_13 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_14 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_15 {position:relative; overflow: hidden;margin: 10px 0px 0px 103px;padding: 0px;border: none;width: 713px;}
  #page_16 {position:relative; overflow: hidden;margin: 10px 0px 90px 103px;padding: 0px;border: none;width: 713px;}

  .ft0{font: 21px 'Times';line-height: 25px;}
  .ft1{font: 20px 'Times';line-height: 25px;}
  .ft2{font: 21px 'Times';line-height: 26px;}
  .ft3{font: 21px 'Times';text-decoration: underline;color: #0000ee;line-height: 25px;}
  .ft4{font: 21px 'Times';color: #0000ee;line-height: 25px;}
  .ft5{font: 20px 'Times';line-height: 26px;}
  .ft6{font: 21px 'Times';line-height: 23px;}
  .ft7{font: 21px 'Times';line-height: 28px;}
  .ft8{font: 21px 'Times';line-height: 24px;}
  .ft9{font: 21px 'Times';line-height: 32px;}

  .p0{text-align: left;margin-top: 0px;margin-bottom: 0px;}
  .p1{text-align: left;margin-top: 25px;margin-bottom: 0px;}
  .p2{text-align: left;padding-right: 101px;margin-top: 24px;margin-bottom: 0px;}
  .p3{text-align: left;padding-right: 107px;margin-top: 24px;margin-bottom: 0px;}
  .p4{text-align: left;padding-right: 115px;margin-top: 24px;margin-bottom: 0px;}
  .p5{text-align: left;margin-top: 24px;margin-bottom: 0px;}
  .p6{text-align: left;padding-right: 114px;margin-top: 25px;margin-bottom: 0px;}
  .p7{text-align: left;padding-right: 102px;margin-top: 23px;margin-bottom: 0px;}
  .p8{text-align: left;padding-right: 116px;margin-top: 0px;margin-bottom: 0px;}
  .p9{text-align: left;padding-right: 126px;margin-top: 25px;margin-bottom: 0px;}
  .p10{text-align: left;padding-right: 108px;margin-top: 23px;margin-bottom: 0px;}
  .p11{text-align: left;padding-right: 109px;margin-top: 23px;margin-bottom: 0px;}
  .p12{text-align: left;padding-right: 102px;margin-top: 0px;margin-bottom: 0px;}
  .p13{text-align: left;padding-right: 155px;margin-top: 24px;margin-bottom: 0px;}
  .p14{text-align: left;margin-top: 21px;margin-bottom: 0px;}
  .p15{text-align: left;padding-right: 111px;margin-top: 25px;margin-bottom: 0px;}
  .p16{text-align: left;padding-right: 168px;margin-top: 23px;margin-bottom: 0px;}
  .p17{text-align: left;padding-right: 103px;margin-top: 34px;margin-bottom: 0px;}
  .p18{text-align: left;margin-top: 22px;margin-bottom: 0px;}
  .p19{text-align: left;padding-right: 104px;margin-top: 25px;margin-bottom: 0px;}
  .p20{text-align: left;padding-right: 109px;margin-top: 24px;margin-bottom: 0px;}
  .p21{text-align: left;padding-right: 105px;margin-top: 24px;margin-bottom: 0px;}
  .p22{text-align: left;padding-right: 113px;margin-top: 24px;margin-bottom: 0px;}
  .p23{text-align: left;padding-right: 135px;margin-top: 40px;margin-bottom: 0px;}
  .p24{text-align: left;padding-right: 117px;margin-top: 21px;margin-bottom: 0px;}
  .p25{text-align: left;padding-right: 107px;margin-top: 33px;margin-bottom: 0px;}
  .p26{text-align: left;padding-right: 108px;margin-top: 24px;margin-bottom: 0px;}
  .p27{text-align: left;margin-top: 34px;margin-bottom: 0px;}
  .p28{text-align: left;padding-right: 106px;margin-top: 33px;margin-bottom: 0px;}
  .p29{text-align: left;margin-top: 33px;margin-bottom: 0px;}
  .p30{text-align: left;padding-right: 117px;margin-top: 41px;margin-bottom: 0px;}
  .p31{text-align: left;padding-right: 113px;margin-top: 33px;margin-bottom: 0px;}
  .p32{text-align: left;padding-right: 130px;margin-top: 33px;margin-bottom: 0px;}
  .p33{text-align: left;padding-right: 117px;margin-top: 33px;margin-bottom: 0px;}
  .p34{text-align: left;padding-right: 103px;margin-top: 33px;margin-bottom: 0px;}
  .p35{text-align: justify;padding-right: 118px;margin-top: 28px;margin-bottom: 0px;}
  .p36{text-align: left;padding-right: 131px;margin-top: 2px;margin-bottom: 0px;}
  .p37{text-align: left;padding-right: 107px;margin-top: 32px;margin-bottom: 0px;}
  .p38{text-align: left;padding-right: 108px;margin-top: 32px;margin-bottom: 0px;}
  .p39{text-align: left;margin-top: 31px;margin-bottom: 0px;}
  .p40{text-align: left;padding-right: 104px;margin-top: 24px;margin-bottom: 0px;}
  .p41{text-align: left;padding-right: 105px;margin-top: 0px;margin-bottom: 0px;}
  .p42{text-align: left;padding-right: 103px;margin-top: 30px;margin-bottom: 0px;}
  .p43{text-align: left;padding-right: 117px;margin-top: 32px;margin-bottom: 0px;}
  .p44{text-align: left;padding-right: 102px;margin-top: 34px;margin-bottom: 0px;}
  .p45{text-align: left;padding-right: 109px;margin-top: 0px;margin-bottom: 0px;}
  .p46{text-align: left;margin-top: 50px;margin-bottom: 0px;}
  .p47{text-align: left;padding-right: 106px;margin-top: 24px;margin-bottom: 0px;}
  .p48{text-align: left;padding-right: 122px;margin-top: 33px;margin-bottom: 0px;}
  .p49{text-align: left;padding-right: 112px;margin-top: 33px;margin-bottom: 0px;}
  .p50{text-align: left;padding-right: 3px;margin-top: 31px;margin-bottom: 0px;}
  .p51{text-align: left;padding-right: 1px;margin-top: 31px;margin-bottom: 0px;}
  .p52{text-align: left;padding-right: 113px;margin-top: 0px;margin-bottom: 0px;}
  .p53{text-align: left;padding-right: 117px;margin-top: 25px;margin-bottom: 0px;}
  .p54{text-align: left;padding-right: 121px;margin-top: 22px;margin-bottom: 0px;}
  .p55{text-align: left;padding-right: 121px;margin-top: 24px;margin-bottom: 0px;}
  .p56{text-align: left;padding-right: 116px;margin-top: 24px;margin-bottom: 0px;}
  .p57{text-align: left;padding-right: 134px;margin-top: 0px;margin-bottom: 0px;}
  .p58{text-align: left;padding-right: 120px;margin-top: 38px;margin-bottom: 0px;}
  .p59{text-align: left;padding-right: 105px;margin-top: 25px;margin-bottom: 0px;}
  .p60{text-align: left;padding-right: 133px;margin-top: 34px;margin-bottom: 0px;}
  .p61{text-align: left;padding-right: 114px;margin-top: 0px;margin-bottom: 0px;}
  .p62{text-align: left;margin-top: 20px;margin-bottom: 0px;}
  .p63{text-align: left;padding-right: 104px;margin-top: 1px;margin-bottom: 0px;}
  .p64{text-align: left;padding-right: 112px;margin-top: 24px;margin-bottom: 0px;}
  .p65{text-align: left;padding-right: 132px;margin-top: 24px;margin-bottom: 0px;}
  .p66{text-align: left;padding-right: 115px;margin-top: 25px;margin-bottom: 0px;}
  .p67{text-align: left;margin-top: 23px;margin-bottom: 0px;}
  .p68{text-align: left;padding-right: 202px;margin-top: 23px;margin-bottom: 0px;}
  .p69{text-align: left;padding-right: 125px;margin-top: 24px;margin-bottom: 0px;}
  .p70{text-align: left;padding-right: 110px;margin-top: 33px;margin-bottom: 0px;}
  .p71{text-align: left;padding-right: 119px;margin-top: 24px;margin-bottom: 0px;}
  .p72{text-align: left;margin-top: 39px;margin-bottom: 0px;}
  .p73{text-align: left;padding-right: 110px;margin-top: 0px;margin-bottom: 0px;}
  .p74{text-align: left;margin-top: 32px;margin-bottom: 0px;}
  .p75{text-align: left;padding-right: 121px;margin-top: 13px;margin-bottom: 0px;}
  .p76{text-align: left;padding-right: 122px;margin-top: 0px;margin-bottom: 0px;}
  .p77{text-align: left;padding-right: 141px;margin-top: 0px;margin-bottom: 0px;}
  .p78{text-align: left;padding-right: 108px;margin-top: 0px;margin-bottom: 0px;}
</STYLE>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
<DIV id="page_1">


  <P class="p0 ft0">Terms and Conditions ("Terms")</P>
  <P class="p1 ft0">Last updated: August 22, 2016</P>
  <P class="p2 ft1">Please read these Terms and Conditions ("Terms", "Terms and Conditions") carefully before using the TollMinder® mobile application (the "Service") operated by TollMinder®, Inc. (“TollMinder”, "Us", "We", or "Our").</P>
  <P class="p3 ft0">Your access to and use of the Service is conditioned upon Your acceptance of and compliance with these Terms. These Terms apply to all visitors, users and others who wish to access or use the Service.</P>
  <P class="p4 ft0">By accessing or using the Service You agree to be bound by these Terms. If You disagree with any part of the terms then You do not have permission to access the Service.</P>
  <P class="p5 ft0">Parties</P>
  <P class="p6 ft0">By agreeing to these Terms, You are entering into an agreement (the “Agreement”) with TollMinder in which TollMinder agrees to provide the Service to You. In order to provide the Service, TollMinder may need to enter agreements with third party toll authorities (“Toll Authorities”), such as the Central Florida Expressway Authority. Neither these Toll Authorities, nor their officers, managers, employees, representatives or agents, are a party to this Agreement.</P>
  <P class="p7 ft2">TollMinder and You shall remain independent contractors, such that these Terms and this Agreement shall not be construed as constituting the formation of a partnership,</P>
</DIV>
<!-- #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-between-content.htm" --><DIV id="page_2">


  <P class="p8 ft0">joint venture or <NOBR>agent-principal</NOBR> relationship or to create any other form of legal association that would impose liability upon one party for the act or failure of the other party, except as otherwise expressly noted herein.</P>
  <P class="p5 ft0">Purchases</P>
  <P class="p9 ft0">If you wish to purchase any product or service made available through the Service ("Purchase"), You may be asked to supply certain information relevant to Your Purchase including, without limitation, Your credit card number, the expiration date of Your credit card, Your billing address, Your shipping information, and Your license plate Number and image.</P>
  <P class="p10 ft0">To the extent that it is necessary to provide the Service, You expressly authorize TollMinder to provide Toll Authorities with customer information (“Customer Information”), including: (1) Your name; (2) the license plate number(s) and image(s) associated with Your account; (3) the amount of the toll payment that is being paid through Your account; and (4) the location of the toll that is being paid using Your account.</P>
  <P class="p11 ft0">Toll Authorities shall have the right to maintain Customer Information to the extent that is permitted by law. Customer Information that is maintained by Toll Authorities will not be provided to TollMinder.</P>
  <P class="p4 ft0">You represent and warrant that: (i) You have the legal right to use any credit card(s) or other payment method(s) in connection with any Purchase; and that (ii) the information You supply to us is true, correct and complete.</P>
</DIV>
<DIV id="page_3">


  <P class="p12 ft0">The service may employ the use of third party services for the purpose of facilitating payment and the completion of Purchases. By submitting Your information, You grant us the right to provide the information to these third parties, subject to our Privacy Policy, including the right to share Customer Information, such as license plate information, to facilitate vehicle registration and parking ticket payments.</P>
  <P class="p10 ft0">We reserve the right to refuse or cancel Your order at any time for reasons including but not limited to: product or service availability, errors in the description or price of the product or service, error in Your order or other reasons.</P>
  <P class="p13 ft2">We reserve the right to refuse or cancel Your order if fraud or an unauthorized or illegal transaction is suspected.</P>
  <P class="p14 ft0">Availability, Errors and Inaccuracies</P>
  <P class="p15 ft0">We are constantly updating product and service offerings on the Service. We may experience delays in updating information on the Service and in our advertising on other web sites. The information found on the Service may contain errors or inaccuracies and may not be complete or current. Products or services may be mispriced, described inaccurately, or unavailable on the Service and we cannot guarantee the accuracy or completeness of any information found on the Service.</P>
  <P class="p16 ft2">We therefore reserve the right to change or update information and to correct errors, inaccuracies, or</P>
</DIV>
<DIV id="page_4">


  <P class="p0 ft0">omissions at any time without prior notice.</P>
  <P class="p17 ft0">You are responsible for obtaining the data network access necessary to use the Service. Your mobile network's data and messaging rates and fees may apply if you access or use the Service from a <NOBR>wireless-enabled</NOBR> device. You are responsible for acquiring and updating compatible hardware or devices necessary to access and use the Service and any updates thereto. TollMinder does not guarantee that the Service, or any portion thereof, will function on any particular hardware or devices. In addition, the Service may be subject to malfunctions and delays inherent in the use of the Internet and electronic communications.</P>
  <P class="p18 ft0">Payments and Payment Disputes</P>
  <P class="p19 ft0">You remain responsible for any toll payments, toll violations, or payments for any other services. The failure of TollMinder to collect payment electronically shall not release You of payment responsibility.</P>
  <P class="p20 ft0">In the event that TollMinder is unable to tender payment to Toll Authorities within a reasonable period of time, Toll Authorities shall have the right to collect the payment directly from You, even if You have tendered payment to TollMinder.</P>
  <P class="p21 ft0">Any dispute arising from overpayment, underpayment, or <NOBR>multi-payment</NOBR> of tolls resulting from use of the Service must be resolved by TollMinder and You. Toll Authorities shall not be a party to such a dispute.</P>
</DIV>
<DIV id="page_5">


  <P class="p0 ft0">Account Creation</P>
  <P class="p22 ft0">When You create an account with us, You guarantee that You are above the age of 18, and that the information You provide us is accurate, complete, and current at all times.</P>
  <P class="p23 ft2">Inaccurate, incomplete, or obsolete information may result in the immediate termination of Your account on the Service.</P>
  <P class="p24 ft0">You are responsible for maintaining the confidentiality of Your account and password, including but not limited to the restriction of access to Your computer and/or account.</P>
  <P class="p25 ft0">You agree to accept responsibility for any and all activities or actions that occur under Your account and/or password, whether Your password is with our Service or a third party service. You must notify us immediately upon becoming aware of any breach of security or unauthorized use of Your account.</P>
  <P class="p3 ft0">You may not use as a username the name of another person or entity or that is not lawfully available for use, a name or trademark that is subject to any rights of another person or entity other than You, without appropriate authorization. You may not use as a username any name that is offensive, vulgar or obscene.</P>
  <P class="p26 ft2">We reserve the right to refuse service, terminate accounts, remove or edit content, or cancel orders in our</P>
</DIV>
<DIV id="page_6">


  <P class="p0 ft0">sole discretion.</P>
  <P class="p27 ft0">Account Types</P>
  <P class="p28 ft0">We currently offer two types of accounts – Prepaid Accounts and <NOBR>Pay-As-You-Go</NOBR> Accounts. Prepaid Accounts may be referred to as “Replenishment Accounts”. In general, Prepaid Accounts incur fewer convenience fees. We may offer other types of accounts in the future.</P>
  <P class="p29 ft0">Prepaid Accounts</P>
  <P class="p30 ft0">Upon establishment of a Prepaid Account, TollMinder will charge your designated payment method a prepaid Beginning Balance of $20.00. This amount will be credited to Your Prepaid Account and will be available to pay tolls, other fees, and other charges.</P>
  <P class="p31 ft0">When Your Prepaid Account balance drops below a Balance Threshold of $5.00, Your Prepaid Account will be replenished with a charge to your designated payment method to bring the Balance to $20.00. These amounts may be changed based upon user preference.</P>
  <P class="p32 ft0">There will be a $0.40 Prepaid Account Convenience Fee for each credit card or debit card transaction with a Prepaid Account.</P>
  <P class="p33 ft2">TollMinder reserves the right to change the amounts of the Beginning Balance, Balance Threshold, Balance, and Prepaid Account Convenience Fee for Prepaid Accounts</P>
</DIV>
<DIV id="page_7">


  <P class="p0 ft0">without notice.</P>
  <P class="p27 ft0"><NOBR>Pay-As-You-Go</NOBR> Accounts</P>
  <P class="p34 ft2">Upon establishment of a <NOBR>Pay-As-You-Go</NOBR> Account, TollMinder will charge your designated payment method a Deposit of $5.00.</P>
  <P class="p35 ft0">Once You incur a toll, TollMinder will be “preauthorized” to obtain a <NOBR>Pre-Authorized</NOBR> Payment of $20.00 from your designated payment method for up to four days.</P>
  <P class="p36 ft2">TollMinder will continue to bundle toll payments during this time period until You incur up to $19.60 in tolls.</P>
  <P class="p37 ft0">Once the four day period expires or you incur $19.60 in tolls, TollMinder will obtain its preauthorized payment from Your designated payment method, along with a $0.40 <NOBR>Pay-As-You-Go</NOBR> Convenience Fee. Toll fees are bundled using the <NOBR>Pay-As-You-Go</NOBR> Account to reduce Your fees.</P>
  <P class="p38 ft2">TollMinder reserves the right to change the amounts of the Deposit, <NOBR>Pre-Authorized</NOBR> Amount, and <NOBR>Pay-As-You-Go</NOBR> Convenience Fee for Prepaid Accounts without notice.</P>
  <P class="p39 ft0">Contests, Sweepstakes and Promotions</P>
  <P class="p40 ft0">Any contests, sweepstakes or other promotions (collectively, "Promotions") made available through the Service may be governed by rules that are separate from these Terms & Conditions. If You participate in any Promotions, please review the applicable rules as well as</P>
</DIV>
<DIV id="page_8">


  <P class="p41 ft2">our Privacy Policy. If the rules for a Promotion conflict with these Terms and Conditions, the Promotion rules will apply.</P>
  <P class="p42 ft0">By creating a Prepaid Account or a <NOBR>Pay-As-You-Go</NOBR> Account, You agree that TollMinder may send you informational text (SMS) messages as part of the normal business operation of Your use of the Service. You may <NOBR>opt-out</NOBR> of receiving text (SMS) messages from TollMinder at any time by following the <NOBR>opt-out</NOBR> instructions that were sent to the mobile device that received the messages, if the text (SMS) message includes such instructions. If the text (SMS) message does not include <NOBR>opt-out</NOBR> instructions, you may <NOBR>opt-out</NOBR> by sending a request via email to customer support at <A href="mailto:support@paytollo.com"><SPAN class="ft3">support</SPAN></A><A href="mailto:support@paytollo.com"><SPAN class="ft4">@</SPAN></A><A href="mailto:support@paytollo.com"><SPAN class="ft3">TollMinder.com</SPAN></A>.</P>
  <P class="p43 ft2">You acknowledge that opting out of receiving text (SMS) messages may impact your use of the Service.</P>
  <P class="p39 ft0">Promotional Codes</P>
  <P class="p44 ft0">TollMinder may, at TollMinder's sole discretion, create promotional codes that may be redeemed for account credit, other features, or other benefits related to the Service and/or a third party’s services, subject to any additional terms that TollMinder establishes on a per promotional code basis ("Promo Codes"). You agree that Promo Codes: (i) must be used for the intended audience and purpose, and in a lawful manner; (ii) may not be duplicated, sold or transferred in any manner, or made available to the general public (whether posted to a public form or otherwise), unless expressly permitted by</P>
</DIV>
<DIV id="page_9">


  <P class="p45 ft0">TollMinder; (iii) may be disabled by TollMinder at any time for any reason without liability to TollMinder; (iv) may only be used pursuant to the specific terms that TollMinder establishes for such Promo Code; (v) are not valid for cash; and (vi) may expire prior to your use. TollMinder reserves the right to withhold or to deduct credits, other features, or benefits obtained through the use of Promo Codes by you or any other user in the event that TollMinder determines or believes that the use or redemption of the Promo Code was in error, fraudulent, illegal, or in violation of the applicable Promo Code terms or these Terms.</P>
  <P class="p46 ft0">Intellectual Property</P>
  <P class="p47 ft0">The Service and its original content, features and functionality are and will remain the exclusive property of TollMinder and its licensors. The Service is protected by patent, copyright, trademark, and other laws of both the United States and foreign countries.</P>
  <P class="p48 ft2">Our trademarks and trade dress may not be used in connection with any product or service without the prior written consent of TollMinder.</P>
  <P class="p39 ft0">User Provided Content.</P>
  <P class="p49 ft0">TollMinder may, at TollMinder's sole discretion, permit You from time to time to submit, upload, publish or otherwise make available to TollMinder through the Service textual, audio, and/or visual content and information, including commentary and feedback related</P>
</DIV>
<DIV id="page_10">


  <P class="p0 ft1">to the Service, initiation of support requests, and submission of entries for competitions and promotions (“User Content”). Any User Content provided by You remains Your property. However, by providing User Content to TollMinder, You grant TollMinder a worldwide, perpetual, irrevocable, transferrable, <NOBR>royalty-free</NOBR> license, with the right to sublicense, to use, copy, modify, create derivative works of, distribute, publicly display, publicly perform, and otherwise exploit in any manner such User Content in all formats and distribution channels now known or hereafter devised (including in connection with the Service and TollMinder's business and on third party sites and services), without further notice to or consent from You, and without the requirement of payment to You or any other person or entity.</P>
  <P class="p50 ft0">You represent and warrant that: (i) You either are the sole and exclusive owner of all User Content or you have all rights, licenses, consents and releases necessary to grant TollMinder the license to the User Content as set forth above; and (ii) neither the User Content nor Your submission, uploading, publishing or otherwise making available of such User Content nor TollMinder's use of the User Content as permitted herein will infringe, misappropriate or violate a third party's intellectual property or proprietary rights, or rights of publicity or privacy, or result in the violation of any applicable law or regulation.</P>
  <P class="p51 ft0">You agree to not provide User Content that is defamatory, libelous, hateful, violent, obscene, pornographic, unlawful, or otherwise offensive, as determined by TollMinder in its sole discretion, whether or not such material may be protected by law. TollMinder</P>
</DIV>
<DIV id="page_11">


  <P class="p52 ft5">may, but shall not be obligated to, review, monitor, or remove User Content, at TollMinder's sole discretion and at any time and for any reason, without notice to You.</P>
  <P class="p14 ft0">Links to Other Web Sites</P>
  <P class="p53 ft2">The Service may contain links to third party web sites or services that are not owned or controlled by TollMinder.</P>
  <P class="p54 ft0">TollMinder has no control over, and assumes no responsibility for the content, privacy policies, or practices of any third party web sites or services. We do not warrant the offerings of any of these entities/ individuals or their websites.</P>
  <P class="p55 ft0">You acknowledge and agree that TollMinder shall not be responsible or liable, directly or indirectly, for any damage or loss caused or alleged to be caused by or in connection with use of or reliance on any such content, goods or services available on or through any such third party web sites or services.</P>
  <P class="p56 ft0">We strongly advise You to read the terms and conditions and privacy policies of any third party web sites or services that You visit.</P>
  <P class="p5 ft0">Termination</P>
  <P class="p21 ft0">We may terminate or suspend Your account and bar access to the Service immediately, without prior notice or liability, under our sole discretion, for any reason whatsoever and without limitation, including but not limited to a breach of the Terms.</P>
</DIV>
<DIV id="page_12">


  <P class="p57 ft2">If You wish to terminate Your account, You may simply discontinue using the Service.</P>
  <P class="p58 ft0">All provisions of the Terms which by their nature should survive termination shall survive termination, including, without limitation, ownership provisions, warranty disclaimers, indemnity and limitations of liability.</P>
  <P class="p5 ft0">Indemnification</P>
  <P class="p59 ft0">You agree to defend, indemnify and hold harmless TollMinder and its licensee and licensors, and their employees, contractors, agents, officers and directors, from and against any and all claims, damages, obligations, losses, liabilities, costs or debt, and expenses (including but not limited to court costs or attorney's fees), resulting from or arising out of a) Your use or access of the Service, by You or by any person using Your account and password, or b) a breach of these Terms.</P>
  <P class="p54 ft0">You agree to hold harmless all Toll Authorities that have contracted with TollMinder, Inc. for all claims or losses sustained in relation to TollMinder’s performance under this Agreement.</P>
  <P class="p60 ft0">These Terms shall not create or otherwise imply a duty on the part of TollMinder to indemnify You under any circumstance.</P>
  <P class="p5 ft0">Limitation of Liability</P>
  <P class="p5 ft0">In no event shall TollMinder, nor its directors, employees,</P>
</DIV>
<DIV id="page_13">


  <P class="p61 ft0">partners, agents, suppliers, or affiliates, be liable for any direct, indirect, incidental, special, consequential or punitive damages, including without limitation, loss of profits, data, use, goodwill, or other intangible losses, resulting from (i) Your access to or use of or inability to access or use the Service; (ii) any conduct or content of any third party on the Service; (iii) any content obtained from the Service; and (iv) unauthorized access, use or alteration of Your transmissions or content, whether based on warranty, contract, tort (including negligence) or any other legal theory, whether or not we have been informed of the possibility of such damage, and even if a remedy set forth herein is found to have failed of its essential purpose.</P>
  <P class="p62 ft0">Disclaimer</P>
  <P class="p45 ft0">YOUR USE OF THE SERVICE IS AT YOUR SOLE RISK. THE SERVICE IS</P>
  <P class="p63 ft0">PROVIDED ON AN "AS IS" AND "AS AVAILABLE" BASIS. TollMinder DISCLAIMS, TO THE FULLEST EXTENT PROVIDED BY LAW, ALL WARRANTIES, WHETHER EXPRESS OR IMPLIED, INCLUDING, BUT NOT LIMITED TO, IMPLIED WARRANTIES OF MERCHANTABILITY, INCLUDING ALL OF ITS TERMS, FITNESS FOR A PARTICULAR PURPOSE, <NOBR>NON-INFRINGEMENT</NOBR> OR COURSE OF PERFORMANCE.</P>
  <P class="p64 ft0">TollMinder ITS SUBSIDIARIES, AFFILIATES, AND ITS LICENSORS DO NOT WARRANT THAT A) THE SERVICE WILL FUNCTION UNINTERRUPTED, SECURE OR AVAILABLE AT ANY PARTICULAR TIME OR LOCATION; B) ANY ERRORS OR DEFECTS WILL BE CORRECTED; C) THE SERVICE IS FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS; OR D) THE RESULTS OF USING THE</P>
</DIV>
<DIV id="page_14">


  <P class="p0 ft0">SERVICE WILL MEET YOUR REQUIREMENTS.</P>
  <P class="p1 ft0">Exclusions</P>
  <P class="p65 ft0">Some jurisdictions do not allow the exclusion of certain warranties or the exclusion or limitation of liability for consequential or incidental damages, so the limitations above may not apply to You.</P>
  <P class="p5 ft0">Government Use</P>
  <P class="p59 ft0">If You are part of an agency, department, or other entity of the United States Government, the use, duplication, reproduction, modification, disclosure or transfer of the Service is restricted in accordance with the Federal Acquisition Regulations as applied to civilian agencies and the Defense Federal Acquisition Regulation Supplement as applied to military agencies. The Service is a “commercial item”, “commercial computer software” and “commercial computer software documentation”. In accordance with such provisions, any use of the Service by the United States Government shall be governed solely by these Terms.</P>
  <P class="p18 ft0">Export Controls</P>
  <P class="p66 ft0">You acknowledge that the Service may be subject to national rules or to international rules that govern the export of software. You agree to comply with all applicable international and national laws that apply to the Service as well as <NOBR>end-user,</NOBR> <NOBR>end-use</NOBR> and destination restrictions issued by national governments.</P>
  <P class="p67 ft0">Abuse Report</P>
</DIV>
<DIV id="page_15">


  <P class="p41 ft0">TollMinder respects the legal rights of third parties. If You have reason to believe that the Service has infringed upon Your legal rights (including, but not limited to, privacy or intellectual property rights), You may report it at Your earliest convenience by sending email to support@TollMinder.com.</P>
  <P class="p67 ft0">Governing Law</P>
  <P class="p68 ft2">These Terms shall be governed and construed in accordance with the laws of</P>
  <P class="p52 ft0">California, United States, without regard to its conflict of law provisions. Moreover, by accepting these Terms, You are consenting to jurisdiction in all of the federal and state courts within the State of California.</P>
  <P class="p69 ft0">Our failure to enforce any right or provision of these Terms will not be considered a waiver of those rights. If any provision of these Terms is held to be invalid or unenforceable by a court, the remaining provisions of these Terms will remain in effect.</P>
  <P class="p70 ft0">These Terms constitute the entire agreement between us regarding our Service, and supersede and replace any prior agreements we might have had between us regarding the Service.</P>
  <P class="p71 ft0">These terms are personal to You and may not be assigned, <NOBR>sub-licensed,</NOBR> or otherwise transferred for any reason whatsoever without the consent of TollMinder.</P>
  <P class="p72 ft0">Changes</P>
</DIV>
<DIV id="page_16">


  <P class="p73 ft0">We reserve the right, at our sole discretion, to modify or replace these Terms at any time. If a revision is material we will provide at least 30 days notice prior to any new terms taking effect. What constitutes a material change will be determined at our sole discretion.</P>
  <P class="p3 ft0">By continuing to access or use our Service after any revisions become effective, You agree to be bound by the revised terms. If You do not agree to the new terms, You are no longer authorized to use the Service.</P>
  <P class="p74 ft6">DISCLAIMER THIRD PARTIES</P>
  <P class="p75 ft7">All product and company names are trademarks™ or registered® trademarks of their respective holders. Use of them does not imply any afﬁliation with or endorsement by them.</P>
  <P class="p76 ft7">Mac, iOS, iPod, iPod touch, iPad and iPhone are registered trademarks of Apple Inc., registered in the U.S. and other countries.</P>
  <P class="p77 ft8">The "Android" name, the Android logo, and Android Robot logo are property of Google Inc.</P>
  <P class="p78 ft9">TheTollRoads® is a registered trademark of the Transportation Corridor Agencies</P>
</DIV>
</div>
