<STYLE type="text/css">

  body {margin-top: 0px;margin-left: 0px;}

  #page_1 {position:relative; overflow: hidden;margin: 90px 0px 10px 10px;padding: 0px;border: none;width: 713px;}
  #page_2 {position:relative; overflow: hidden;margin: -4px 0px 10px -10px;padding: 0px;border: none;width: 720px;}
  #page_2 #id_1 {border:none;margin: 0px 0px 10px 10px;padding: 0px;border:none;width: 713px;overflow: hidden;}
  #page_2 #id_2 {border:none;margin: 0px 0px 10px 10px;padding: 0px;border:none;width: 713px;overflow: hidden;}
  #page_3 {position:relative; overflow: hidden;margin: 0px 89px 70px 0px;padding: 0px;border: none;width: 623px;}

  .ft0{font: bold 16px 'Times';line-height: 19px;}
  .ft1{font: 17px 'Times';line-height: 22px;}
  .ft2{font: bold 17px 'Times';line-height: 22px;}
  .ft3{font: 17px 'Times';line-height: 28px;}
  .ft4{font: 17px 'Times';line-height: 19px;}
  .ft5{font: 17px 'Times';line-height: 23px;}
  .ft6{font: bold 17px 'Times';line-height: 19px;}
  .ft7{font: 17px 'Times';margin-left: 17px;line-height: 24px;}
  .ft8{font: 17px 'Times';line-height: 24px;}
  .ft9{font: 17px 'Times';margin-left: 14px;line-height: 27px;}
  .ft10{font: 17px 'Times';line-height: 27px;}
  .ft11{font: 17px 'Times';margin-left: 14px;line-height: 28px;}
  .ft12{font: 17px 'Times';line-height: 25px;}

  .p0{text-align: left;padding-left: 169px;margin-top: 0px;margin-bottom: 0px;}
  .p1{text-align: justify;padding-right: 103px;margin-top: 16px;margin-bottom: 0px;text-indent: 64px;}
  .p2{text-align: left;margin-top: 6px;margin-bottom: 0px;}
  .p3{text-align: justify;padding-right: 103px;margin-top: 15px;margin-bottom: 0px;}
  .p4{text-align: left;margin-top: 3px;margin-bottom: 0px;}
  .p5{text-align: justify;padding-right: 103px;margin-top: 16px;margin-bottom: 0px;}
  .p6{text-align: justify;padding-left: 4px;padding-right: 103px;margin-top: 24px;margin-bottom: 0px;text-indent: -3px;}
  .p7{text-align: left;margin-top: 0px;margin-bottom: 0px;}
  .p8{text-align: justify;padding-right: 103px;margin-top: 17px;margin-bottom: 0px;}
  .p9{text-align: left;margin-top: 5px;margin-bottom: 0px;}
  .p10{text-align: left;margin-top: 18px;margin-bottom: 0px;}
  .p11{text-align: justify;padding-right: 103px;margin-top: 18px;margin-bottom: 0px;}
  .p12{text-align: left;padding-right: 104px;margin-top: 3px;margin-bottom: 0px;}
  .p13{text-align: justify;padding-right: 103px;margin-top: 2px;margin-bottom: 0px;}
  .p14{text-align: justify;padding-right: 103px;margin-top: 3px;margin-bottom: 0px;}
  .p15{text-align: justify;margin-top: 0px;margin-bottom: 0px;}
  .p16{text-align: justify;margin-top: 7px;margin-bottom: 0px;}
  .p17{text-align: justify;margin-top: 3px;margin-bottom: 0px;}
</STYLE>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
<DIV id="page_1">


  <P class="p0 ft0">TollMinder® Customer User Agreement</P>
  <P class="p1 ft1">In order to provide the greatest convenience to the operator and/or registered owner of a motor vehicle using roadways TollMinder® services (a "customer"), customers may pay their tolls automatically through the use of an TollMinder® account in accordance with the terms of this Agreement. There two types of tolling transponders/passes (referenced herein as "tags") which may be used by TollMinder® customers (a) a simple <NOBR>sticker-type</NOBR> tag and (b) a switchable High Occupancy Vehicle ("GPS") tag. Please note that there are some differences in the rules applicable to use of each type of tag.</P>
  <P class="p2 ft0">TollMinder® ACCOUNT TYPE</P>
  <P class="p3 ft1"><SPAN class="ft2">Credit Card Account</SPAN>: If you open a credit card TollMinder® account, your credit card will be charged to establish a Toll Account Balance ("TAB"), which is a pre- determined dollar amount, which may as a matter of policy be changed from time to time, and which acts as a <NOBR>pre-charged</NOBR> deposit for the payment of tolls. Each time your TollMinder® account balance falls under $10.00, your credit card will be charged to <NOBR>re-establish</NOBR> the TAB. No TollMinder® account will be permitted to have a negative balance. If you begin using your TollMinder® account more frequently, the TAB may be increased to an amount which equals your average monthly usage in tolls. It is important that you inform the TollMinder® Service Center of any changes to your credit card. You hereby agree to pay a rejected payment fee of $30.00 for each transaction refused by your bank or credit card issuer.</P>
  <P class="p4 ft0">RESPONSIBILITY FOR TOLLS AND OTHER CHARGES</P>
  <P class="p5 ft1">The customer to whom an TollMinder® tag has been issued is responsible for all toll charges, late fees, collection fees, adjudication fees and civil penalties assessed against the account until the account is closed. You shall remain responsible even if a tag is lost or stolen. If your tag is lost or stolen you should immediately notify the TollMinder® Service Center by emailing service@TollMinder.com . In case hacked account, a replacement simple <NOBR>sticker-type</NOBR> tag will be issued, or a replacement switchable GPS tag may be purchased by you. You will not be liable for the applicable tolls, late fees, and/or collection fees if you prove that the vehicle involved was sold to another or that the vehicle was not in your custody or control due to theft prior to the date of the toll. Should a dispute occur over a toll, the TollMinder® Service Center will provide you, at your request, an itemized statement listing the disputed transaction(s).</P>
  <P class="p6 ft3">You may request emailed monthly statements which will be provided free of charge. You may also request monthly statements via U.S. Mail. A monthly service fee of</P>
</DIV>
<!-- #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-between-content.htm" --><DIV id="page_2">


  <DIV id="id_1">
    <P class="p7 ft4">$2.00 will be deducted from your TAB for mailed monthly statements.</P>
    <P class="p8 ft5">If you fail to keep the required minimum balance in your TollMinder® account, you agree that the TollMinder® Service Center is authorized to deactivate all of the TollMinder® tag(s) assigned to your account. Each use of the TollMinder® tag after deactivation is a toll violation and you will be subject to all applicable tolls, late fees, collection fees, adjudication fees and civil penalties. If your TAB has insufﬁcient funds, you are liable until said fees and civil penalties are paid.</P>
    <P class="p4 ft0">CLOSING AN TollMinder® ACCOUNT · REFUND OF A TAB</P>
    <P class="p3 ft5">If you close your TollMinder® account, then you will receive a refund of the balance remaining in your TAB. This refund will be made to the credit card account used to establish the TollMinder® account, unless the credit card account has been closed. <NOBR>Check-based</NOBR> account customers will receive a refund check which will be issued within thirty (30) days of the date the TollMinder® account is closed.</P>
    <P class="p9 ft6">TollMinder® CUSTOMER RESPONSIBILITIES</P>
    <P class="p10 ft4">As an TollMinder® customer you agree to:</P>
    <P class="p11 ft8"><SPAN class="ft4">1.</SPAN><SPAN class="ft7">Notify the TollMinder® Service Center immediately (a) if your credit card has been lost or stolen, (b) the expiration date of the credit card changes, (c) your credit card limit has been reached, (d) the credit card account has been closed or (d) if the account number or issuing bank changes.</SPAN></P>
    <P class="p12 ft10"><SPAN class="ft4">2.</SPAN><SPAN class="ft9">Notify the TollMinder® Service Center immediately of a changed mailing address and/or phone number.</SPAN></P>
    <P class="p12 ft3"><SPAN class="ft4">3.</SPAN><SPAN class="ft11">Notify the TollMinder® Service Center immediately of a change to an automobile registration or license plate.</SPAN></P>
    <P class="p13 ft12">Failure to notify the TollMinder® Service Center of a transfer of a tag to another vehicle, or of any change in your license plate or vehicle registration may result in a $10.00 fee assessed to your TollMinder® account.</P>
    <P class="p14 ft12">The TollMinder® Service Center will charge you tolls at <NOBR>then-current</NOBR> LicensePlateToll® rate for all tolls associated with vehicles not properly registered to your TollMinder® account.</P>
    <P class="p4 ft0">MISCELLANEOUS</P>
  </DIV>
  <DIV id="id_2">
    <P class="p7 ft3">Your agreement to all of the terms, provisions, and conditions of this Agreement is a condition precedent to your being granted the use of your TollMinder® account. You</P>
  </DIV>
</DIV>
<DIV id="page_3">
  <P class="p15 ft1">are hereby advised that the TollMinder® Service Center reserves the right to modify the terms of this Agreement at any time and without individual notice to you. Periodic changes to this Agreement will be posted at www.TollMinder.com. Your continued use of your TollMinder® account after any modiﬁcation to the terms of this Agreement shall constitute your acceptance of the modiﬁed terms and you agree to be bound by any such changes. You hereby agree to pay all tolls and other reasonable charges, fees, and costs, including attorney's fees, incurred by the TollMinder® Service Center to enforce the terms of this Agreement.</P>
  <P class="p16 ft8">You must promptly review your monthly statement and notify the TollMinder® Service Center with questions regarding any TollMinder® charges. Charges not questioned within thirty (30) days of the date of the TollMinder® Service Center's issuance of the statement will be deemed to have been accepted by you.</P>
  <P class="p17 ft12">You agree that the TollMinder® Service Center has the right to close your TollMinder® account, to deny your use of your TollMinder® account should you violate any of the terms of this Agreement.</P>
</DIV>
</div>
