/**
 *  Do not remove the comment below. It's the markers used by wiredep to inject
 *  sass dependencies when defined in the bower.json of your dependencies
 */
// bower:scss
// endbower

@import url(http://fonts.googleapis.com/css?family=Roboto+Slab:400,700|Roboto:400,700,700italic,400italic);

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff2) format('woff2'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.woff) format('woff'),
       url(../../bower_components/material-design-iconfont/iconfont/MaterialIcons-Regular.ttf) format('truetype');
}

[ng-cloak] {
  display: none !important;
}

.md-select-value *:first-child { overflow: visible !important;}

html {
  font-family: 'Roboto', sans-serif;
}

[layout=row] {
  flex-direction: row;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

h2 {
  color: #607d8b;
}

i {
  color: #666;
}

.rootHeader {
  background-color: #41455b;
  nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    img {
      width: 50px;
      border-radius: 50%;
    }
  }
  .md-button, img {
    padding: 0 20px;
    color: white;
  }

  .root-menu {
    width: 50px;
    height: 80px;
    font-size: 28px;
    i {
      color: #6a78ac;
    }
  }
  .avatar-button {
    padding-top: 15px;
    i {
      color: white;
      margin-left: -30px;
      position: absolute;
      margin-top: 40px;
    }
  }
}

md-menu-item > a.md-button {
  align-items: center !important;
}

.capitalize {
  text-transform: capitalize;
}

md-toolbar.md-default-theme {
  background-color: black;
}

.error {
  color: firebrick;
  background-color: rgba(0,0,0,.05);
  padding: 20px;
  -webkit-transition: display 1s;
  -moz-transition: display 1s;
  -ms-transition: display 1s;
  -o-transition: display 1s;
  transition: display 1s;
}

.wrapper {
  max-width: 1280px;
  margin: 20px auto;
  padding: 20px;
  .create {
    float: right;
  }
  .loader, .map {
    height: 300px;
  }
}

md-input-container {
  width: 100%;
  margin: 7px 0;
}




/**
 *  Do not remove the comment below. It's the markers used by gulp-inject to inject
 *  all your sass files automatically
 */
// injector
// endinjector
