// media queries
$breakpoint-mobile: "only screen and (max-width: 599px)";

.login-wrapper {
  background-color: #40445b;
  background-image: url("./../assets/bg-top.png");
  background-position: top center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  //justify-content: center;
  align-items: center;
  min-height: 100vh;
  .logo {
    margin-top: 140px;
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 110px;
    color: #a2abd0;
    font-weight: 100;
    font-size: 42px;
  }
  .md-button {
    color: white;
    width: 240px;
    height: 50px !important;
    border: 2px solid #686e8f;
    border-radius: 3px;
    font-weight: 600;
    margin-right: 16px;
    margin-left: 16px;
    &.social {
      &-wrap {        
        margin-top: 35px;
        margin-bottom: 130px;
      }
      text-transform: lowercase;
      text-transform: capitalize;
      display: flex;
      flex-direction: row;
      align-items: center;
      span {
        display: block;
      }
      img {
        width: 32px;
        height: 32px;
        margin-left: 15px;
        margin-right: 25px;
      }
    }
    &.facebook {
      background-color: #5975b1;
      border-color: #7095e3;
    }

    &.google {
      background-color: #e4e2e2;
      border-color: #fff;
      color: #2f2f2f;
    }
  }
  .footer-bg {
    width: 100%;
  }
  // styles for mobile
  @media #{$breakpoint-mobile} {
    .logo {
      margin-top: 35px;
      min-width: 215px;
      width: 40%;
    }
    .title {
      line-height: 0;
      margin-bottom: 65px;
      font-size: 36px;
    }
  }
}