// media queries
$breakpoint-mobile: "only screen and (max-width: 599px)";

.login-wrapper {
  min-height: 100vh;
  .content {
    background: url("./../assets/bg-top.png") no-repeat top center #40445b;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
  }
  .logo {
    margin-top: 140px;
    margin-bottom: 40px;
  }
  .title {
    margin-bottom: 110px;
    color: #a2abd0;
    font-weight: 100;
    font-size: 42px;
  }
  .md-button {
    color: white;
    width: 240px;
    height: 50px !important;
    border: 2px solid #686e8f;
    border-radius: 3px;
    font-weight: 600;
    margin-right: 16px;
    margin-left: 16px;
    &.social {
      &-wrap {        
        margin-top: 35px;
        margin-bottom: 130px;
      }
      text-transform: lowercase;
      text-transform: capitalize;
      display: flex;
      flex-direction: row;
      justify-content: center;
      position: relative;
      span {
        display: block;
      }
    }
    &.facebook {
      border-color: #7095e3;
      background: url("../assets/facebook.png") no-repeat 10px center #5975b1;
    }

    &.google {
      border-color: #fff;
      color: #2f2f2f;
      background: url("../assets/google.png") no-repeat 10px center #e4e2e2;
    }
  }
  .footer-bg {
    width: 100%;
  }
  // styles for mobile
  @media #{$breakpoint-mobile} {
    .logo {
      margin-top: 35px;
      min-width: 215px;
      width: 40%;
    }
    .title {
      line-height: 0;
      margin-bottom: 65px;
      font-size: 36px;
    }
  }
}

.footer {
    background: url("../assets/bg-bottom.png") no-repeat bottom center #fff;
    background-size: cover;
    color: #fff;
    width: 100%;
    padding: 0 10px 10px;
    box-sizing: border-box;
    &-container {
      background: rgba(64, 68, 91, 0.9);
      padding: 15px 10px;
      text-align: center;
      max-width: 900px;
      margin: 15px auto;
      &:last-child {
        margin-bottom: 0;
      }
    }
    &-title {
      text-transform: uppercase;
      font-size: 26px;
      text-decoration: underline;
      margin: 0;
      color: #fff;
    }
  }