<div class="login-wrapper">
  <img class="logo" src="./../assets/logo.png"/>
  <h1 class="title">Welcome!</h1>
  <div>
    <div layout="row" layout-xs="column">
      <md-button ng-click="ctrl.showLogin()">
        Login
      </md-button>
      <md-button ng-click="ctrl.showSignUp()">
        Sing up
      </md-button>
    </div>
    <div layout="row" layout-xs="column" class="social-wrap">
      <md-button class="social facebook" ng-click="ctrl.facebook()">
        Enter with Facebook
      </md-button>
      <md-button class="social google" ng-click="ctrl.gPlus()">
        Enter with Google
      </md-button>
    </div>
  </div>
  <img class="footer-bg hide-xs" src="./../assets/bg-bottom.png" alt="">
</div>
