<div class="login-wrapper">
  <img class="logo" src="./../assets/logo.png"/>
  <h1>Welcome!</h1>
  <div>
    <div layout="row">
      <md-button ng-click="ctrl.showLogin()">
        Login
      </md-button>
      <md-button ng-click="ctrl.showSignUp()">
        Sing up
      </md-button>
    </div>
    <div layout="row">
      <md-button class="social facebook" ng-click="ctrl.facebook()">
        <img src="./../assets/facebook.png" alt="">
        Enter with Facebook
      </md-button>
      <md-button class="social google" ng-click="ctrl.gPlus()">
        <img src="./../assets/google.png" alt="">
        Enter with Google
      </md-button>
    </div>
  </div>
  <img src="./../assets/bg-bottom.png" alt="">
</div>
