 @media #{$breakpoint-mobile} {
  .total {
    margin-top: 20px;
    flex-direction: column;
    & > div {
      flex-direction: column;
      margin-bottom: 15px;
      div {
        margin: 0;
        flex-direction: row;
      }
    }
  }
  md-datepicker {
    margin-right: 0;
  }
  md-radio-group.layout-row md-radio-button {
    margin: 9px 0;
  }
  .md-table-pagination {
    & > .buttons:not(:first-child), 
    & > .limit-select:not(:first-child) {
      margin-right: 5px;
      height: 30px;
    }
  }
 }
.space {
  width:50px;
  height: 1px;
}
