<style>
  body {
    margin-top: 0px;
    margin-left: 0px;
  }

  #page_1 {
    position: relative;
    overflow: hidden;
    margin: 90px 0px 0px 103px;
    padding: 0px;
    border: none;
    width: 713px;
  }

  #page_2 {
    position: relative;
    overflow: hidden;
    margin: 10px 0px 90px 103px;
    padding: 0px;
    border: none;
    width: 713px;
  }

  .ft0 {
    font: bold 16px 'Times';
    line-height: 19px;
  }

  .ft1 {
    font: 16px 'Times';
    line-height: 19px;
  }

  .ft2 {
    font: 15px 'Times';
    line-height: 17px;
  }

  .ft3 {
    font: 16px 'Times';
    margin-left: 28px;
    line-height: 19px;
  }

  .ft4 {
    font: 16px 'Times';
    margin-left: 28px;
    line-height: 24px;
  }

  .ft5 {
    font: 16px 'Times';
    line-height: 24px;
  }

  .ft6 {
    font: 16px 'Times';
    line-height: 22px;
  }

  .ft7 {
    font: 16px 'Times';
    line-height: 20px;
  }

  .ft8 {
    font: 16px 'Times';
    line-height: 21px;
  }

  .ft9 {
    font: bold 16px 'Times';
    line-height: 24px;
  }

  .ft10 {
    font: 16px 'Times';
    margin-left: 28px;
    line-height: 22px;
  }

  .ft11 {
    font: 16px 'Times';
    margin-left: 28px;
    line-height: 18px;
  }

  .ft12 {
    font: 16px 'Times';
    line-height: 18px;
  }

  .ft13 {
    font: 16px 'Times';
    line-height: 23px;
  }

  .p0 {
    text-align: left;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .p1 {
    text-align: left;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p2 {
    text-align: left;
    padding-left: 14px;
    margin-top: 17px;
    margin-bottom: 0px;
  }

  .p3 {
    text-align: left;
    padding-left: 14px;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p4 {
    text-align: left;
    padding-left: 47px;
    padding-right: 120px;
    margin-top: 17px;
    margin-bottom: 0px;
    text-indent: -33px;
  }

  .p5 {
    text-align: left;
    padding-left: 14px;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .p6 {
    text-align: left;
    padding-left: 47px;
    padding-right: 103px;
    margin-top: 18px;
    margin-bottom: 0px;
    text-indent: -33px;
  }

  .p7 {
    text-align: left;
    margin-top: 24px;
    margin-bottom: 0px;
  }

  .p8 {
    text-align: left;
    padding-right: 121px;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p9 {
    text-align: left;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .p10 {
    text-align: left;
    padding-right: 105px;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p11 {
    text-align: left;
    margin-top: 29px;
    margin-bottom: 0px;
  }

  .p12 {
    text-align: left;
    padding-right: 109px;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p13 {
    text-align: left;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .p14 {
    text-align: left;
    padding-right: 103px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .p15 {
    text-align: left;
    padding-right: 110px;
    margin-top: 7px;
    margin-bottom: 0px;
  }

  .p16 {
    text-align: left;
    padding-right: 105px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .p17 {
    text-align: left;
    padding-left: 14px;
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .p18 {
    text-align: left;
    padding-left: 14px;
    margin-top: 0px;
    margin-bottom: 0px;
  }

  .p19 {
    text-align: left;
    padding-left: 47px;
    padding-right: 121px;
    margin-top: 0px;
    margin-bottom: 0px;
    text-indent: -33px;
  }

  .p20 {
    text-align: left;
    margin-top: 9px;
    margin-bottom: 0px;
  }

  .p21 {
    text-align: left;
    padding-right: 133px;
    margin-top: 18px;
    margin-bottom: 0px;
  }

  .p22 {
    text-align: left;
    padding-right: 103px;
    margin-top: 8px;
    margin-bottom: 0px;
  }

  .p23 {
    text-align: left;
    padding-right: 120px;
    margin-top: 7px;
    margin-bottom: 0px;
  }
</style>
<div style="display: flex; flex-direction: column; justify-content: center; align-items: center">
  <DIV id="page_1">


    <P class="p0 ft0">Privacy Policy</P>
    <P class="p1 ft1">TollMinder Privacy Policy</P>
    <P class="p1 ft1">This Privacy Policy tells you:</P>
    <P class="p2 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Why we gather information about our customers</SPAN></P>
    <P class="p3 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">What type of information we gather</SPAN></P>
    <P class="p2 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">How we learn about our customers</SPAN></P>
    <P class="p3 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">How we protect what we know about our customers</SPAN></P>
    <P class="p4 ft5"><SPAN class="ft2">•</SPAN><SPAN class="ft4">How we use customer information and categories of third party persons or entities with whom we may share customer information</SPAN></P>
    <P class="p5 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">How you may review or request changes to your personal information</SPAN></P>
    <P class="p6 ft5"><SPAN class="ft2">•</SPAN><SPAN class="ft4">About the TollMinder Privacy Policy and how we will notify you of any material changes in our Privacy Policy</SPAN></P>
    <P class="p7 ft0">Why we gather information about our customers:</P>
    <P class="p8 ft6">We need to know some personal information about you to facilitate enrollment processing and account maintenance, and to better serve you. We may also need information from you and others to help us verify your identity in order to prevent fraud and ensure security.</P>
    <P class="p9 ft0">What type of information we gather:</P>
    <P class="p10 ft7">In order to provide the services you requested, we need your ﬁrst and last name, address, telephone number, email address, vehicle information and license plate number, credit card number and/or other bank account or payment information, billing address, and other basic account information required to perform account functions such as billing, account settlement, or enforcement activities</P>
    <P class="p11 ft0">How we learn about you:</P>
    <P class="p12 ft7">What we know about you we obtain from you. But we may also have to ﬁnd out more about you from other sources in order to make sure that what we know about you is correct and complete. Those sources may include the Department of Motor Vehicles for the state of your vehicle plate and public records. Some of our sources may give us reports, and they may disclose what they know about you to others.</P>
    <P class="p13 ft0">How we use what we know about you:</P>
  </DIV>
  <!-- #include virtual="/convert-pdf-to-html/includes/pdf-to-word-body-tag-between-content.htm" -->
  <DIV id="page_2">


  <P class="p14 ft8">We treat what we know about you conﬁdentially. Our employees are told to take care in handling your information. They may get information about you only when there is good reason to do so. We take steps to make our computer databases secure and to safeguard the information we have about you.</P>
  <P class="p15 ft9">How we use and disclose what we know about you and categories of third party persons or entities with whom we may share customer information:</P>
  <P class="p16 ft7">We may use anything we know about you to help us serve you better. We only use it and disclose it to others to the extent legally authorized. We may share your information to the extent legally authorized with third party entities such as law enforcement, government entities, and other toll operators as deemed necessary in order to:</P>
  <P class="p17 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Help us evaluate your request for a service</SPAN></P>
  <P class="p18 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Help us process claims and other transactions</SPAN></P>
  <P class="p18 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Conﬁrm or correct what we know about you</SPAN></P>
  <P class="p19 ft6"><SPAN class="ft2">•</SPAN><SPAN class="ft10">Help us prevent fraud, money laundering, and other crimes by verifying what we know about you</SPAN></P>
  <P class="p18 ft12"><SPAN class="ft2">•</SPAN><SPAN class="ft11">Help us run our business</SPAN></P>
  <P class="p18 ft12"><SPAN class="ft2">•</SPAN><SPAN class="ft11">Process data for us</SPAN></P>
  <P class="p18 ft12"><SPAN class="ft2">•</SPAN><SPAN class="ft11">Perform research for us</SPAN></P>
  <P class="p18 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Audit our business</SPAN></P>
  <P class="p18 ft1"><SPAN class="ft2">•</SPAN><SPAN class="ft3">Help us comply with the law</SPAN></P>
  <P class="p20 ft0">How you may review, change, or request changes to your personal information:</P>
  <P class="p21 ft13">You may review, change, or request changes to your personal information by accessing your TollMinder account information online or you may email support@TollMinder.com</P>
  <P class="p22 ft9">About the TollMinder Privacy Policy and how we will notify you of any material changes in our Privacy Policy:</P>
  <P class="p23 ft8">The TollMinder Privacy Policy may be accessed on any page of TollMinder.com website. We reserve the right to modify this Privacy Policy at any time. If we make material changes to this policy, we will notify our customers and users via email, mail or by means of a notice on our website. Please revisit this website for the most recent Privacy Policy.</P>
</DIV>
</DIV>


